html {
    font-family: "roboto";
    color: white;
}

body {
    margin: 0;
}

#Welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: rgb(32, 185, 255);
}

div > div {
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 320px;
    padding: 30px;
    border-style: solid;
    border-radius: 8px;
    box-shadow: 0px 0px 10px white;
}

@media (min-width: 0px) and (max-width: 500px) {
    div > div {
        width: 300px;
        height: 400px;
    }
}

@media (min-width: 501px) and (max-width: 800px) {
    div > div {
        width: 450px;
    }
}

@media (min-width: 801px) and (max-width: 1200px) {
    div > div {
        width: 600px;
    }
}

div > div:hover {
    transition: 1s;
    box-shadow: 0px 0px 10px 3px white;
}

#Header {
    font-size: xx-large;
    margin-bottom: 0px;
}

#Desc {
    font-size: x-large;
}